<% @products.each do |product| %>
  <div class="col-md-4 mt-2">
    <div class="card mb-3 p-3 h-100 <%= 'border border-success' if current_user.present? && @products_user_winning.include?(product) %>">
      <div class="row no-gutters">
        <div class="col-12 text-center">
          <h5 class="card-title">
            <%= product.name %>
            <%= "<span style='font-size:40px;' class='pl-2'>&#127881;</span>".html_safe if current_user.present? && @products_user_winning.include?(product) %>
          </h5>
        </div>
        <div class="col-md-4">
          <a href="#" data-toggle="modal" data-target="#modal_product_<%= product.id %>">
            <%= image_tag(product.image_url, class: "img-thumbnail") %>
          </a>
        </div>
        <div class="col-md-8 d-flex align-items-end flex-column bd-highlight">
          <div class="card-body">
            <p class="card-text"><%= product.description.truncate(100) %></p>
          </div>
          <div class="col">
            <div class="font-weight-bold text-center alert <%= current_user.present? && @products_user_winning.include?(product) ? 'alert-success' : 'alert-primary' %>" role="alert">
              Oferta actual: <%= number_to_currency product.max_bid_amount %>
            </div>
          </div>
        </div>
      </div>
      <div class="col mt-3 d-flex align-items-end">
        <% if current_user %>
          <%= form_tag(Bid.new) do %>
            <div class="mb-3">
              <%= hidden_field_tag :product_id, product.id %>
              <div class="input-group is-invalid">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <%= number_field_tag "bids[amount]", "", id: "bid_amount_product_#{product.id}", class: "form-control mr-2", placeholder: product.next_bid_amount %>
                <%= submit_tag "Ofertar", class: "btn btn-primary bid_amount" %>
              </div>
            </div>
          <% end %>
        <% else %>
          <%= link_to "Regístrate para poder ofertar", new_registration_path(:user), class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
